    body {
        margin: 0;
        text-align: center;
        font-family: 'Fredoka One', cursive;
        color: #40514E;
    }
    
    h1 {
        margin-top: 0;
        font-family: 'Merienda', cursive;
        font-size: 90px;
        color: #66BFBF;
    }